// Ignore all files in the node-red-data directory
data
node-red-data copy

// Ignore all files in the .vscode directory
.vscode
*.tar
# *.exe
*.log
sh-files
regenerate_certificates.go
node-red-data/.npm
node-red-data/lib
node-red-data/node_modules
node-red-data/shared
node-red-data/images
*.backup
*.config.*.json
*.sessions.json
package-lock.json
DOCKER_DNS_SOLUTION.md
iot_gateway.db-shm

