// Ignore all files in the node-red-data directory
node-red-data/*

// Ignore all files in the data directory
files/*

// Ignore all files in the .vscode directory
.vscode/*

// Ignore all files in the .env directory
.env/*
