version: '3.8'

services:
  iot-gateway:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8443:8443"
      - "50000:50000"
      - "5001:5001"
      - "5101:5101"
      - "5100:5100"
    volumes:
      - ./iot_gateway.db:/app/iot_gateway.db
      - ./webui/templates:/app/webui/templates
      - ./webui/assets:/app/webui/assets
      - ./server.crt:/data/server.crt
      - ./server.key:/data/server.key
    networks:
      - app-network
    restart: unless-stopped

  node-red:
    image: nodered/node-red:latest
    ports:
      - "7777:1880"
    volumes:
      - ./flows.json:/data/flows.json
      - ./node-red-data:/data
      - ./server.crt:/data/server.crt
      - ./server.key:/data/server.key
    environment:
      - NODE_RED_FLOW_NAME=flows.json
    networks:
      - app-network
    restart: unless-stopped

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - influxdb-data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=abc+1247
      - DOCKER_INFLUXDB_INIT_ORG=idpm
      - DOCKER_INFLUXDB_INIT_BUCKET=iot-gateway
    
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  influxdb-data:
