services:
  ## IoT-Gateway
  iot-gateway:
    container_name: gateway-main
    build:
      context: .
      dockerfile: dockerfile_main
    ports:
      - "${MQTT_LISTENER_LOCAL_TCP_ADDRESS}:${MQTT_LISTENER_LOCAL_TCP_ADDRESS}"
      - "${MQTT_LISTENER_LOCAL_WS_ADDRESS}:${MQTT_LISTENER_LOCAL_WS_ADDRESS}"
      - "${MQTT_LISTENER_PUBLIC_TCP_ADDRESS}:${MQTT_LISTENER_PUBLIC_TCP_ADDRESS}"
      - "${MQTT_LISTENER_PUBLIC_WS_ADDRESS}:${MQTT_LISTENER_PUBLIC_WS_ADDRESS}"
      - "${WEBUI_HTTP_PORT}:${WEBUI_HTTP_PORT}"
    environment:
      - INFLUXDB_URL=http://127.0.0.1:${INFLUXDB_HTTP_PORT}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      - INFLUXDB_ORG=${INFLUXDB_ORG}
      - INFLUXDB_BUCKET=${INFLUXDB_BUCKET}
      - MQTT_LISTENER_LOCAL_TCP_ADDRESS=${MQTT_LISTENER_LOCAL_TCP_ADDRESS}
      - MQTT_LISTENER_LOCAL_WS_ADDRESS=${MQTT_LISTENER_LOCAL_WS_ADDRESS}
      - MQTT_LISTENER_PUBLIC_TCP_ADDRESS=${MQTT_LISTENER_PUBLIC_TCP_ADDRESS}
      - MQTT_LISTENER_PUBLIC_WS_ADDRESS=${MQTT_LISTENER_PUBLIC_WS_ADDRESS}
      - WEBUI_HTTP_PORT=${WEBUI_HTTP_PORT}
      - NODE_RED_HTTP_PORT=${NODE_RED_HTTP_PORT}
      - TZ=Europe/Berlin
    volumes:
      - ./iot_gateway.db:/app/iot_gateway.db
    network_mode: host
    restart: unless-stopped

  ## Node-RED
  node-red:
    container_name: gateway-node-red
    build:
      context: .
      dockerfile: dockerfile_nodered
    ports:
      - "${NODE_RED_HTTP_PORT}:${NODE_RED_HTTP_PORT}"
    environment:
      - NODE_RED_HTTP_PORT=${NODE_RED_HTTP_PORT}
      - NODE_RED_CREDENTIAL_SECRET=${NODE_RED_CREDENTIAL_SECRET}
      - INFLUXDB_URL=http://127.0.0.1:${INFLUXDB_HTTP_PORT}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      - INFLUXDB_ORG=${INFLUXDB_ORG}
      - INFLUXDB_BUCKET=${INFLUXDB_BUCKET}
      - MQTT_LISTENER_LOCAL_TCP_ADDRESS=${MQTT_LISTENER_LOCAL_TCP_ADDRESS}
      - WEBUI_HTTP_PORT=${WEBUI_HTTP_PORT}
      - NODE_RED_HTTP_PORT=${NODE_RED_HTTP_PORT}
      - TZ=Europe/Berlin
    volumes:
      - ${DATA_PATH}:/data/shared/
      - ./node-red-data:/data
    network_mode: host
    restart: unless-stopped

  ## InfluxDB
  influxdb:
    container_name: gateway-influxdb
    image: influxdb:2.7
    ports:
      - "${INFLUXDB_HTTP_PORT}:${INFLUXDB_HTTP_PORT}"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUXDB_ADMIN_USER}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
      - DOCKER_INFLUXDB_INIT_ORG=${INFLUXDB_ORG}
      - DOCKER_INFLUXDB_INIT_BUCKET=${INFLUXDB_BUCKET}
      - DOCKER_INFLUXDB_INIT_RETENTION=${INFLUXDB_RETENTION}
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_TOKEN}
      - TZ=Europe/Berlin
    network_mode: host
    restart: unless-stopped

networks:
  gateway-network:
    driver: bridge