<!DOCTYPE html>
<html data-bs-theme="light" lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Image Capture Prozessverwaltung - IPDM</title>
    <link rel="icon" type="image/vnd.icon" href="assets/img/6090919.ico">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/line-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/css/Google-Style-Login-.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.0.1/dist/css/tom-select.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/css/iframe-1.css">
    <link rel="stylesheet" href="assets/css/iframe-youtube-mloureiro1973.css">
    <link rel="stylesheet" href="assets/css/iframe.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
    <link rel="stylesheet" href="assets/css/Ludens---TomSelect-Form.css">
    <link rel="stylesheet" href="assets/css/Ludens-basic-login.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="background: var(--bs-secondary-text-emphasis);font-size: 18px;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <picture><img src="assets/img/IDPM-Logo.png" style="height: 60px;width: 60px;"></picture>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link text-center" href="/home"><i class="fas fa-tachometer-alt" style="font-size: 20px;"></i><span style="font-size: 16px;">Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/devices"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cpu" style="font-size: 20px;">
                        <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0m-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"></path>
                    </svg><span style="margin-left: 2px;font-size: 16px;">&nbsp;Devices</span></a></li>   
                    <li class="nav-item"><a class="nav-link text-center" href="/data-forwarding"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-message-forward" style="font-size: 20px;">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"></path>
                        <path d="M13 8l3 3l-3 3"></path>
                        <path d="M16 11h-8"></path>
                    </svg><span style="margin-left: 2px;font-size: 16px;">&nbsp;Data Forwarding</span></a></li>     
                    <li class="nav-item"><a class="nav-link text-center active" href="/image-capture"><i class="fas fa-camera" style="font-size: 20px;"></i><span style="margin-left: 2px;font-size: 16px;">&nbsp;Image Capture (BMK)</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/historical-data"><svg class="bi bi-database-fill" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 20px;">
                        <path d="M3.904 1.777C4.978 1.289 6.427 1 8 1s3.022.289 4.096.777C13.125 2.245 14 2.993 14 4s-.875 1.755-1.904 2.223C11.022 6.711 9.573 7 8 7s-3.022-.289-4.096-.777C2.875 5.755 2 5.007 2 4s.875-1.755 1.904-2.223Z"></path>
                        <path d="M2 6.161V7c0 1.007.875 1.755 1.904 2.223C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777C13.125 8.755 14 8.007 14 7v-.839c-.457.432-1.004.751-1.49.972C11.278 7.693 9.682 8 8 8s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"></path>
                        <path d="M2 9.161V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13s3.022-.289 4.096-.777C13.125 11.755 14 11.007 14 10v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"></path>
                        <path d="M2 12.161V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"></path>
                    </svg><span style="margin-left: 2px;font-size: 16px;"> Historical Data</span></a></li>
                    
                    <li class="nav-item"><a class="nav-link text-center" href="/broker"><i class="typcn typcn-arrow-maximise-outline" style="font-size: 20px;"></i><span style="margin-left: 2px;font-size: 16px;">MQTT-Broker</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/profile"><i class="fas fa-user" style="font-size: 20px;"></i><span style="margin-left: 2px;font-size: 16px;">Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/settings"><i class="icon-settings" style="font-size: 20px;"></i><span style="font-size: 16px;">&nbsp;Settings</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/logout"><i class="far fa-user-circle" style="font-size: 20px;"></i><span style="margin-left: 1px;font-size: 16px;">Logout</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="border-color: var(--bs-secondary);">
                <nav class="navbar navbar-expand bg-body-tertiary shadow mb-4 topbar" style="border-color: var(--bs-secondary);background: var(--bs-secondary);">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item"><a class="nav-link border rounded border-3 border-secondary shadow-sm d-xxl-flex align-items-xxl-center" href="/logout"><strong><span style="color: rgb(0, 0, 0);">Logout</span></strong></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center pb-2">
                        <h2>Image Capture Process Management</h2>
                        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addProcessModal">
                            <i class="fas fa-plus"></i> New Process
                        </button>
                    </div>
                    <hr>
                    
                    <!-- Prozess-Übersicht -->
                    <div class="row mb-4">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Running processes</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="runningCount">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-play fa-2x text-success"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Stopped processes</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="stoppedCount">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-stop fa-2x text-secondary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Error processes</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="errorCount">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-exclamation-triangle fa-2x text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total processes</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalCount">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-list fa-2x text-info"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Prozessliste -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between align-items-center">
                            <h6 class="text-primary  m-0">Image Capture Processes</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="processTable">
                                    <thead>
                                         <tr>
                                             <th>ID</th>
                                             <th>Name</th>
                                             <th>Device</th>
                                             <th>Status</th>
                                             <th>Cyclic</th>
                                             <th>Last Execution</th>
                                             <th>Last Image</th>
                                             <th>Upload Status</th>
                                             <th>Actions</th>
                                         </tr>
                                    </thead>
                                    <tbody id="processTableBody">
                                        <!-- Wird durch JavaScript gefüllt -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Bildvorschau Modal -->
                    <div class="modal fade" id="imagePreviewModal" tabindex="-1">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Image Preview</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body text-center">
                                    <img id="previewImage" src="" alt="Image Preview" class="img-fluid" style="max-height: 500px;">
                                    <div class="mt-3">
                                        <small class="text-muted" id="imageTimestamp"></small>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a id="downloadImage" href="" class="btn btn-primary" download="image.jpg">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- New Process Modal -->
                    <div class="modal fade" id="addProcessModal" tabindex="-1">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">New Image Capture Process</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="processForm">
                                        
                                        <!-- Tab Navigation -->
                                        <ul class="nav nav-tabs mb-4" id="configTabs" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="basic-tab" data-bs-toggle="tab" data-bs-target="#basic-config" type="button" role="tab">
                                                    Basic Configuration
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="opcua-tab" data-bs-toggle="tab" data-bs-target="#opcua-config" type="button" role="tab">
                                                    OPC UA Settings
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="upload-tab" data-bs-toggle="tab" data-bs-target="#upload-config" type="button" role="tab">
                                                    Upload & Scheduling
                                                </button>
                                            </li>
                                        </ul>

                                        <!-- Tab Content -->
                                        <div class="tab-content" id="configTabsContent">
                                            
                                            <!-- Basic Configuration Tab -->
                                            <div class="tab-pane fade show active" id="basic-config" role="tabpanel">
                                                <div class="card border-0">
                                                    <div class="card-body">
                                                        <!-- <h6 class="card-title"><strong>Process Information</strong></h6> -->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="processName" class="form-label">
                                                                        Process name <span class="text-danger">*</span>
                                                                    </label>
                                                                    <input type="text" class="form-control" id="processName" required 
                                                                           placeholder="Enter a descriptive name for your process">
                                                                    <small class="form-text text-muted">Choose a unique and descriptive name</small>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="deviceSelect" class="form-label">
                                                                        Target Device <span class="text-danger">*</span>
                                                                    </label>
                                                                    <select class="form-control" id="deviceSelect" required>
                                                                        <option value="">Select the target device...</option>
                                                                    </select>
                                                                    <small class="form-text text-muted">Select the OPC UA device to connect to</small>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="endpoint" class="form-label">OPC UA Endpoint</label>
                                                                    <input type="text" class="form-control" id="endpoint" 
                                                                           placeholder="opc.tcp://192.168.0.84:48010">
                                                                    <small class="form-text text-muted">The OPC UA server endpoint URL</small>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="processDescription" class="form-label">Description</label>
                                                                    <textarea class="form-control" id="processDescription" rows="3" 
                                                                              placeholder="Optional description of what this process does"></textarea>
                                                                    <small class="form-text text-muted">Describe the purpose of this image capture process</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- OPC UA Configuration Tab -->
                                            <div class="tab-pane fade" id="opcua-config" role="tabpanel">
                                                <div class="card border-0">
                                                    <div class="card-body">
                                                        <!-- <h6 class="card-title">OPC UA Node Configuration</h6> -->
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="objectId" class="form-label ">Object ID</label>
                                                                    <input type="text" class="form-control" id="objectId" 
                                                                           placeholder="ns=3;s=Demo.Method">
                                                                    <small class="form-text text-muted">The OPC UA object containing the method</small>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="methodId" class="form-label ">Method ID</label>
                                                                    <input type="text" class="form-control" id="methodId" 
                                                                           placeholder="ns=3;s=Demo.Method.DoSomethingAfter10s">
                                                                    <small class="form-text text-muted">The method to call for image capture</small>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="methodArgs" class="form-label ">Method Arguments <span class="text-muted">(optional)</span></label>
                                                                    <textarea class="form-control" id="methodArgs" rows="3" 
                                                                              placeholder='{"arg1": "value1", "arg2": "value2"}'></textarea>
                                                                    <small class="form-text text-muted">Optional: JSON format for OPC UA method arguments. Leave empty if method needs no arguments.</small>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mb-3">
                                                                    <label for="checkNodeId" class="form-label ">Status Check Node ID</label>
                                                                    <input type="text" class="form-control" id="checkNodeId" 
                                                                           placeholder="ns=3;s=Demo.Dynamic.Scalar.Boolean">
                                                                    <small class="form-text text-muted">Node to monitor for process completion (should turn true)</small>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="imageNodeId" class="form-label ">Image Data Node ID</label>
                                                                    <input type="text" class="form-control" id="imageNodeId" 
                                                                           placeholder="ns=3;s=Demo.Dynamic.Scalar.ImageGIF">
                                                                    <small class="form-text text-muted">Node containing the captured image data</small>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="ackNodeId" class="form-label ">Acknowledgment Node ID</label>
                                                                    <input type="text" class="form-control" id="ackNodeId" 
                                                                           placeholder="ns=3;s=Demo.Dynamic.Scalar.Boolean">
                                                                    <small class="form-text text-muted">Node to acknowledge completion (will be set to true)</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Upload & Scheduling Configuration Tab -->
                                            <div class="tab-pane fade" id="upload-config" role="tabpanel">
                                                <div class="row">
                                                    <!-- Upload Configuration -->
                                                    <div class="col-md-6">
                                                        <div class="card border-0 h-100">
                                                            <div class="card-body">
                                                                <h6 class="card-title"><strong></strong>Upload Configuration</strong></h6>
                                                                <div class="mb-3">
                                                                    <div class="form-check form-switch">
                                                                        <input class="form-check-input" type="checkbox" id="enableUpload">
                                                                        <label class="form-check-label" for="enableUpload">
                                                                            Enable Image Upload
                                                                        </label>
                                                                    </div>
                                                                    <small class="form-text text-muted">Upload captured images to an external URL</small>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="uploadUrl" class="form-label ">Upload URL</label>
                                                                    <input type="url" class="form-control" id="uploadUrl" 
                                                                           placeholder="https://example.com/upload">
                                                                    <small class="form-text text-muted">Destination URL for image uploads</small>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="timestampHeaderName" class="form-label ">Timestamp Header Name</label>
                                                                    <input type="text" class="form-control" id="timestampHeaderName" 
                                                                           placeholder="X-Timestamp">
                                                                    <small class="form-text text-muted">Header name for automatic timestamp (%Y-%m-%d %H:%M:%S)</small>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="uploadHeaders" class="form-label">Custom Headers</label>
                                                                    <div id="uploadHeadersContainer">
                                                                        <div class="header-row mb-2">
                                                                            <div class="row">
                                                                                <div class="col-5">
                                                                                    <input type="text" class="form-control header-key" 
                                                                                           placeholder="Header Name">
                                                                                </div>
                                                                                <div class="col-5">
                                                                                    <input type="text" class="form-control header-value" 
                                                                                           placeholder="Header Value">
                                                                                </div>
                                                                                <div class="col-2">
                                                                                    <button type="button" class="btn btn-sm btn-danger remove-header">
                                                                                        <i class="fas fa-trash"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <button type="button" class="btn btn-sm btn-secondary" id="addHeader">
                                                                        <i class="fas fa-plus"></i> Add Header
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Scheduling Configuration -->
                                                    <div class="col-md-6">
                                                        <div class="card border-0 h-100">
                                                            <div class="card-body">
                                                                <h6 class="card-title"><strong></strong>Scheduling Configuration</strong></h6>
                                                                <div class="mb-3">
                                                                    <div class="form-check form-switch">
                                                                        <input class="form-check-input" type="checkbox" id="enableCyclic">
                                                                        <label class="form-check-label" for="enableCyclic">
                                                                            Enable Automatic Execution
                                                                        </label>
                                                                    </div>
                                                                    <small class="form-text text-muted">Automatically execute image capture at regular intervals</small>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="cyclicInterval" class="form-label ">Execution Interval</label>
                                                                    <div class="input-group">
                                                                        <input type="number" class="form-control" id="cyclicInterval" 
                                                                               value="30" min="1" max="3600">
                                                                        <span class="input-group-text">seconds</span>
                                                                    </div>
                                                                    <small class="form-text text-muted">Time between automatic executions (1-3600 seconds)</small>
                                                                </div>
                                                                
                                                                <!-- Execution Type Info -->
                                                                <div class="alert alert-light" role="alert">
                                                                    <h6 class="alert-heading">Execution Types</h6>
                                                                    <hr>
                                                                    <small>
                                                                        <strong>Manual:</strong> Execute only when triggered manually or externally<br>
                                                                        <strong>Automatic:</strong> Execute repeatedly at the specified interval
                                                                    </small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="d-flex w-100 justify-content-between align-items-center">
                                        <small class="text-muted">
                                            Fields marked with <span class="text-danger">*</span> are required
                                        </small>
                                        <div>
                                            <button type="button" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-primary" id="saveProcess">Save Process</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © IPDM 2024</span></div>
                </div>
            </footer>
        </div>
    </div>
    <script src="assets/js/utils/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/image-capture.js"></script>
</body>

</html>
