<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - IPDM</title>
    <link rel="icon" type="image/vnd.icon" href=" assets/img/6090919.ico">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/line-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/css/Google-Style-Login-.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.0.1/dist/css/tom-select.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="assets/css/iframe-1.css">
    <link rel="stylesheet" href="assets/css/iframe-youtube-mloureiro1973.css">
    <link rel="stylesheet" href="assets/css/iframe.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="assets/css/Ludens---1-Index-Table-with-Search--Sort-Filters-v20.css">
    <link rel="stylesheet" href="assets/css/Ludens---TomSelect-Form.css">
    <link rel="stylesheet" href="assets/css/Ludens-basic-login.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="background: var(--bs-secondary-text-emphasis);font-size: 18px;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <picture><img src="assets/img/IDPM-Logo.png" style="height: 60px;width: 60px;"></picture>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link text-center active" href="/home"><i class="fas fa-tachometer-alt" style="font-size: 20px;"></i><span style="font-size: 16px;">Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/devices"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cpu" style="font-size: 20px;">
                        <path d="M5 0a.5.5 0 0 1 .5.5V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2h1V.5a.5.5 0 0 1 1 0V2A2.5 2.5 0 0 1 14 4.5h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14v1h1.5a.5.5 0 0 1 0 1H14a2.5 2.5 0 0 1-2.5 2.5v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14h-1v1.5a.5.5 0 0 1-1 0V14A2.5 2.5 0 0 1 2 11.5H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2v-1H.5a.5.5 0 0 1 0-1H2A2.5 2.5 0 0 1 4.5 2V.5A.5.5 0 0 1 5 0m-.5 3A1.5 1.5 0 0 0 3 4.5v7A1.5 1.5 0 0 0 4.5 13h7a1.5 1.5 0 0 0 1.5-1.5v-7A1.5 1.5 0 0 0 11.5 3zM5 6.5A1.5 1.5 0 0 1 6.5 5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5zM6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"></path>
                    </svg><span style="margin-left: 2px;font-size: 16px;">&nbsp;Devices</span></a></li>        
                    <li class="nav-item"><a class="nav-link text-center" href="/historical-data"><svg class="bi bi-database-fill" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 20px;">
                        <path d="M3.904 1.777C4.978 1.289 6.427 1 8 1s3.022.289 4.096.777C13.125 2.245 14 2.993 14 4s-.875 1.755-1.904 2.223C11.022 6.711 9.573 7 8 7s-3.022-.289-4.096-.777C2.875 5.755 2 5.007 2 4s.875-1.755 1.904-2.223Z"></path>
                        <path d="M2 6.161V7c0 1.007.875 1.755 1.904 2.223C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777C13.125 8.755 14 8.007 14 7v-.839c-.457.432-1.004.751-1.49.972C11.278 7.693 9.682 8 8 8s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"></path>
                        <path d="M2 9.161V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13s3.022-.289 4.096-.777C13.125 11.755 14 11.007 14 10v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"></path>
                        <path d="M2 12.161V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"></path>
                    </svg><span style="margin-left: 2px;font-size: 16px;"> Historical Data</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/data-forwarding"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-message-forward" style="font-size: 20px;">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"></path>
                        <path d="M13 8l3 3l-3 3"></path>
                        <path d="M16 11h-8"></path>
                    </svg><span style="margin-left: 2px;font-size: 16px;">&nbsp;Data Forwarding</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/broker"><i class="typcn typcn-arrow-maximise-outline" style="font-size: 20px;"></i><span style="margin-left: 2px;font-size: 16px;">MQTT-Broker</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/profile"><i class="fas fa-user" style="font-size: 20px;"></i><span style="margin-left: 2px;font-size: 16px;">Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/node-red"><img class="img-fluid" style="font-size: 20px;" width="20" height="20" src="https://user-images.githubusercontent.com/4920720/68587424-0174a200-047f-11ea-9806-ce9e50a8258b.png"><span style="font-size: 16px;">&nbsp; Node-RED</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/settings"><i class="icon-settings" style="font-size: 20px;"></i><span style="font-size: 16px;">&nbsp;Settings</span></a></li>
                    <li class="nav-item"><a class="nav-link text-center" href="/logout"><i class="far fa-user-circle" style="font-size: 20px;"></i><span style="margin-left: 1px;font-size: 16px;">Logout</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="border-color: var(--bs-secondary);">
                <nav class="navbar navbar-expand bg-body-tertiary shadow mb-4 topbar" style="border-color: var(--bs-secondary);background: var(--bs-secondary);">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item"><a class="nav-link border rounded border-3 border-secondary shadow-sm d-xxl-flex align-items-xxl-center" href="/logout"><strong><span style="color: rgb(0, 0, 0);">Logout</span></strong></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h2>Dashboard</h2>
                    <hr>
                <!-- <div class="container-fluid"> -->
                    <!-- <div class="d-sm-flex justify-content-between align-items-center mb-4"> -->
                        <!-- <h2 class="text-dark mb-0"><strong><span style="text-decoration: underline;">Dashboard</span></strong></h2> -->
                    <!-- </div> -->
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body" style="border-radius: 5px;border-left: 5px outset var(--bs-secondary) ;">
                                    <h4 class="card-title" style="color: var(--bs-primary);border-left-width: 2px;border-left-color: var(--bs-primary);font-size: 22px;"><strong>GATEWAY UPTIME&nbsp;</strong>&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="width: 25px;height: 25px;font-size: 50px;filter: brightness(0%);">
                                            <path d="M12 19C10.067 19 8.31704 18.2165 7.05029 16.9498L12 12L12 5C15.866 5 19 8.13401 19 12C19 15.866 15.866 19 12 19Z" fill="currentColor"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" fill="currentColor"></path>
                                        </svg></h4>
                                    <div class="row">
                                        <div class="col-xxl-8" style="width: 187px;">
                                            <div></div><span id="uptime" style="font-weight: bold;color: var(--bs-black);font-size: 20px;">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body" style="border-radius: 5px;border-left: 5px outset var(--bs-secondary) ;">
                                    <h4 class="card-title" style="color: var(--bs-primary);border-left-width: 2px;border-left-color: var(--bs-primary);font-size: 22px;"><strong>DEVICES&nbsp;</strong>&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cpu-fill" style="width: 25px;height: 25px;font-size: 50px;filter: brightness(0%);">
                                            <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"></path>
                                            <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5"></path>
                                        </svg></h4>
                                    <div class="row">
                                        <div class="col-xxl-8" style="width: 187px;">
                                            <div><span id="number-devices" style="font-weight: bold;color: var(--bs-black);font-size: 20px;">Loading...</span></div>
                                        </div>
                                        <div class="col">
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body" style="border-radius: 5px;border-left: 5px outset var(--bs-secondary) ;">
                                    <h4 class="card-title" style="color: var(--bs-primary);border-left-width: 2px;border-left-color: var(--bs-primary);font-size: 22px;"><strong>PROCESSED</strong>&nbsp;<strong>MESSAGES&nbsp;</strong>&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-mobiledata" style="width: 25px;height: 25px;font-size: 50px;filter: brightness(0%);">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M16 12v-8"></path>
                                            <path d="M8 20v-8"></path>
                                            <path d="M13 7l3 -3l3 3"></path>
                                            <path d="M5 17l3 3l3 -3"></path>
                                        </svg></h4>
                                    <div class="row">
                                        <div class="col-xxl-8" style="width: 187px;">
                                            <div><span id="number-messages" style="font-weight: bold;color: var(--bs-black);font-size: 20px;">Loading...</span></div>
                                        </div>
                                        <div class="col">
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" href="www.google.com">
                                <div class="card-body" style="border-radius: 5px;border-left: 5px outset var(--bs-secondary) ;">
                                    <h4 class="card-title" style="color: var(--bs-primary);border-left-width: 2px;border-left-color: var(--bs-primary);font-size: 22px;"><strong>NODE-RED&nbsp;</strong>&nbsp;<img src="assets/img/node-red-icon-2048x2048-b2t479rp.png" style="filter: brightness(0%);opacity: 0.72;width: 30px;"></h4>
                                    <div class="row align-items-center">
                                        <div class="col-xxl-1" style="width: 187px;"><span id="node-red-connection" style="font-weight: bold;color: var(--bs-black);font-size: 20px;">Loading...</span></div>
                                        <div class="col"><a href="https://localhost/nodered" target="_blank" style="color: var(--bs-card-bg);"><i class="la la-external-link" style="color: var(--bs-black);font-size: 20px;"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="margin-top: 20px;"><button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modal-restart">Restart Gateway</button></div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © IPDM - Hochschule Ansbach</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-restart">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="color: var(--bs-danger);"><strong>RESTART GATEWAY</strong></h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to restart the Gateway?</p>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">NO</button><button class="btn btn-primary" type="button" style="background: var(--bs-form-invalid-color);border-style: none;border-color: var(--bs-black);">YES</button></div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/api.js"></script>
    <!-- <script src="assets/js/broker.js"></script> -->
    <!-- <script src="assets/js/data-forwarding.js"></script> -->
    <!-- <script src="assets/js/devices/devices-charts.js"></script> -->
    <!-- <script src="assets/js/devices/devices-data.js"></script> -->
    <!-- <script src="assets/js/devices/devices-utils.js"></script> -->
    <!-- <script src="assets/js/devices/devices.js"></script> -->
    <!-- <script src="assets/js/home.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.1/dist/js/tom-select.complete.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="assets/js/index.js"></script>
    <!-- <script src="assets/js/profile.js"></script> -->
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Toggle-Password-toggle-pass.js"></script>
    <script>
        const wsToken = "{{ .token }}";
        console.log(wsToken);
    </script>
</body>

</html>